<div class="anuncio">
  <h2>Bem Vindo!</h2>
  <h5>Aqui você encontra diversas ofertas exclusivas. Clique em contato para saber mais, ou envie uma mensagem para cesarcorregiari@gmail.com</h5>
</div>

<div class="acqio-acqua">
  <div class="card-d" id="acqio">
    <div class="product-logo img-back" >
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("acqio.jpg") %>
      </div>
    </div>
    <div class="content" >
      <div class="product-title">
        <h3>Acqio</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>A maquininha ideal para aumentar suas vendas. Acessível para o lojista e com as melhores condições para os clientes.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
  <div class="card-d" id="acquazero">
    <div class="product-logo img-back">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("acqua.jpg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>Acquazero</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>A maneira mais eficiente e ecológica de lavar carros e estofados.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<div class="beauty-prestige">
  <div class="card-d" id="beautycooler">
    <div class="product-logo img-back">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("beautyc.jpeg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>BeautyCooler Laxmi</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>A primeira geladeirinha da beleza do Brasil. Trate seus cosméticos tão bem quanto eles te tratam e de um upgrade na sua rotina de skincare.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
  <div class="card-d" id="royal">
    <div class="product-logo img-back">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("royal.png") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>Royal Prestige</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>Panelas de altissíma qualidade, que preservam integralmente os nutrientes dos alimentos.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<div class="jahu-odonto">
  <div class="card-d" id="jahu">
    <div class="product-logo img-back ">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("jahu.jpg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>JAHU Máquinas</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>Máquinas de alta performance para raspar e polir pisos. Uma revolução na construção civil.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
  <div class="card-d" id="caravan">
    <div class="product-logo img-back">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("caravan.png") %>
      </div>
    </div>
    <div class="content" >
      <div class="product-title">
        <h3>Codecaravan</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>Crie seu site ou aplicativo com a Codecaravan e se destaque no mercado.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<%= link_to "http://api.whatsapp.com/send?1=pt_BR&phone=5511981263581", :target => "_blank", class:"whats" do %>
  <%= image_tag('whatsapp.png') %>
<% end %>

<div class="anuncio">
  <h2>Parcerias</h2>
  <h4>Gostaria de oferecer um produto ou serviço através da minha rede de contatos? Preencha o formulário abaixo ou envie um email para cesarcorregiari@gmail.com</h4>
</div>
