Compre comigo amigo
<h2>981263589</h2>
<div class="acqio-acqua">
  <div class="card-d">
    <div class="product-logo">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("acqio.jpg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>Acqio</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>A maquininha ideal para aumentar suas vendas. Acessível para o lojista e com as melhores condições para os clientes.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <button class="btn draw-border">Draw Border</button>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
  <div class="card-d">
    <div class="product-logo">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("acqua.jpg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>Acquazero</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>A maneira mais eficientes e ecológica de lavar seu carro e recuperar estofados.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <button class="btn draw-border">Draw Border</button>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<div class="beauty-prestige">
  <div class="card-d">
    <div class="product-logo">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("beautyb.jpeg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>BeautyCooler Laxmi</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>a primeira geladeirinha da beleza do Brasil. Trate seus cosméticos tão bem quanto eles te tratam e de um upgrade na sua rotina de skincare.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <button class="btn draw-border">Draw Border</button>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
  <div class="card-d">
    <div class="product-logo">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("royal.png") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>Royal Prestige</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>Panelas de altissíma qualidade, que preservam integralmente os nutrientes dos alimentos.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <button class="btn draw-border">Draw Border</button>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<div class="jahu-odonto">
  <div class="card-d">
    <div class="product-logo">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("acqio.jpg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>JAHU Máquinas</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>Máquinas de alta performance para raspar e polir pisos. Uma revolução na construção civil.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <button class="btn draw-border">Draw Border</button>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
  <div class="card-d">
    <div class="product-logo">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("acqio.jpg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>Bertachini Odontologia</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>Sorriso garantido para você e seu bolso.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <button class="btn draw-border">Draw Border</button>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<%= link_to "http://api.whatsapp.com/send?1=pt_BR&phone=5511981263581", :target => "_blank", class:"whats" do %>
  <%= image_tag('whatsapp.png') %>
<% end %>
<%# para me adicionar no whatsapp https://codepen.io/jkantner/pen/KQPdXK %>
https://codepen.io/nazarelen/pen/rLgLrA
<h1>Parcerias</h1>
<p>Para saber mais, adicionar suas ofertas ou tirar dúvidas, entre em contato através do formulário abaixo</p>
