<div class="anuncio">
  <h1>Bem Vindo!</h1>
  <h4>Nesta página você encontra diversas ofertas exclusivas de produtos e serviços excelentes para a sua rotina e negócios. Clique no botão de cada oferta para saber mais via Whatsapp, ou envie uma mensagem através do formulário no final da página.</h4>
</div>
<div class="acqio-acqua">
  <div class="card-d" id="acqio">
    <div class="product-logo img-back" >
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("acqio.jpg") %>
      </div>
    </div>
    <div class="content" >
      <div class="product-title">
        <h3>Acqio</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>A maquininha ideal para aumentar suas vendas. Acessível para o lojista e com as melhores condições para os clientes. Condições especiais para diversas categorias. Entre em contato para saber como podemos ajudar no crescimento dos seus negócios.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <div class="button">
        <button class="btn ripple">Saiba mais</button>
      </div>
    </div>
  </div>
  <div class="card-d" id="acquazero">
    <div class="product-logo img-back">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("acqua.jpg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>Acquazero</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>A maneira mais eficiente e ecológica de lavar carros e estofados. A Acquazero utiliza produtos biodegradáveis e economiza um grande volume de água, garantindo a satisfação do cliente e a sustentabilidade do ambiente.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<div class="beauty-prestige">
  <div class="card-d" id="beautycooler">
    <div class="product-logo img-back">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("beautyc.jpeg") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>BeautyCooler Laxmi</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>A primeira geladeirinha da beleza do Brasil. Trate seus cosméticos tão bem quanto eles te tratam e dê um up na sua rotina de skincare. Muito prática e charmosa, está disponível em diversos modelos de cores. Entre em contato para saber mais e receber um exclusivo cupom de desconto.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
  <div class="card-d" id="royal">
    <div class="product-logo img-back">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("royal.png") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>Royal Prestige</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>Panelas de altissíma qualidade, forjadas em aço cirúrgico, que não liberam resíduos e preservam integralmente os nutrientes dos alimentos. Cuide da saúde de sua família e adquira um conjunto Royal Prestige. Produtos de qualidade para a vida toda.</p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<div class="jahu-odonto">
  <div class="card-d" id="jahu">
    <div class="product-logo img-back ">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("jahu3.png") %>
      </div>
    </div>
    <div class="content">
      <div class="product-title">
        <h3>JAHU Máquinas</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>JAHU está há mais de 30 anos no mercado, facilitando o desenvolvimento de obras e o tratamento de terrenos. São máquinas de alta performance para raspar e polir pisos. Uma revolução na construção civil.
        </p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
  <div class="card-d" id="caravan">
    <div class="product-logo img-back">
      <div class="product-img">
        <%#= image_tag("acqio.jpg", size: "50x50") %>
        <%= image_tag("caravan.png") %>
      </div>
    </div>
    <div class="content" >
      <div class="product-title">
        <h3>Codecaravan</h3>
      </div>
      <hr>
      <%# ----------------------------------------------------- %>
      <div class="product-text">
        <p>Realize o seu projeto com a Codecaravan e se destaque no mercado! Somos uma agência versátil e desenvolvemos aplicativos web e mobile, sites, lojas virtuais, editoração, além de serviços de identidade visual e consultoria estratégica. </p>
      </div>
      <a href="https://acqio.com.br/" target="_blank" class="social btn-floating btn-fb">
        <%# <button class="btn draw-border">Draw Border</button> %>
      </a>
      <button class="btn draw-border">Draw Border</button>
    </div>
  </div>
</div>
<div class="anuncio">
  <h1>Parcerias</h1>
  <h4>Gostaria de oferecer um produto ou serviço através de uma rede de contatos com mais de 10 mil potenciais clientes? Preencha o formulário abaixo ou clique neste botão para me adicionar no Whatsapp.   
  <%= link_to "http://api.whatsapp.com/send?1=pt_BR&phone=5511981263581", :target => "_blank", class:"whats" do %>
  <%= image_tag('whatsapp.png') %>
  <% end %></h4>
</div>
<div class="form-section">
  <%= simple_form_for @page, html: { class: "contact-form"} do |f| %>
    <%= f.input :name, label: false, placeholder: "Nome" %>
    <%= f.input :email, label: false, placeholder: "Email" %>
    <%= f.input :text, as: :text, input_html: {rows: 4, cols: 10}, label: false, placeholder: "Escreva sua mensagem" %>
    <%= f.button :submit, "Enviar", class: "submit_button" %>
  <% end %>
</div>
